<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socks</title>

	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div id="app">
		<div class="nav-bar"></div>
		<div class="cart">Cart: {{ cart.length }}</div>

		<product :premium="premium" :details="details" @add-item-to-cart="updateCart" @remove-item-from-cart="removeItem"></product>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script>
		Vue.component('product', {
			props: {
				cart: {
					type: Number
				},
				premium: {
					type: Boolean,
					required: true
				},
				details: {
					type: String
				}
			},
			template: `
				<div class="product">
					<div class="product-image">
						<a :href="link">
							<img :src="image" alt="">
						</a>
					</div>

					<div class="product-info">
						<h1>{{ title }}</h1>	

						<p>{{ productDesc }}</p>

						<p>Product Details: {{ details.name }}</p>

						<p v-if="inStock > 10">In Stock Qty: {{ inStock }}</p>
						<p v-else-if="inStock <= 10 && inStock > 0">Almost out of stock Qty: {{ inStock }}</p>
						<p v-else :class="{ lineThrough: !inStock }">Out of Stock</p>

						<ul>
							<li v-for="(variant, index) in variants" :key="variant.variantId">
								<div v-for="size in variant.variantSizes">{{size}}</div>
							</li>
						</ul>
						
						<!-- when we look objects it's a good practice to have a key value -->
						<div v-for="(variant, index) in variants" 
							:key="variant.variantId"
							class="color-box"
							:style="{ backgroundColor: variant.color }"
							@mouseover="updateProduct(index)"
							>
						</div>
						
						<!-- When btn is disabled add a class -->
						<div class="product-actions">
							<button v-on:click="addItem"
									:disabled="!inStock"
									:class="{ disabledButton: !inStock }">Add </button>
							<button v-on:click="removeItem">Remove </button>
						</div>

						<p>User premium: {{ true }}</p>

						<p>Shipping: {{ shipping }}</p>
					</div>
				</div>
			`,
			data() {
				return {
					brand: 'Nike',
					productTitle: 'Sprint Socks',
					productDesc: 'lorem cumque.',
					// image: './green-socks.jpg',
					selectedVariant: 0,
					link: 'https://www.google.com/',
					qty: 0,
					// inStock: true,
					variants: [
						{
							color: 'green',
							variantId: 12,
							variantImg: './green-socks.jpg',
							variantQty: 12,
							variantSizes: ['XS', 'S', 'M', 'L', 'XL']
						},
						{
							color: 'blue',
							variantId: 13,
							variantImg: './blue-socks.jpg',
							variantQty: 1,
							variantSizes: ['L', 'XL']
						}
					],
					styleButton: {
						fontSize: '14px',
						backgroundColor: 'black',
						color: '#fff'
					}
				}
			},
			methods: {
				addItem: function() {
					 this.$emit('add-item-to-cart', this.variants[this.selectedVariant].variantId)
				},
				removeItem: function() {
					this.$emit('remove-item-from-cart', this.variants[this.selectedVariant].variantId)
				},
				updateProduct: function(index) {
					this.selectedVariant = index;
				}
			},
			computed: {
				title: function() {
					return this.brand + ' ' + this.productTitle
				},
				image: function() {
					return this.variants[this.selectedVariant].variantImg
				},
				inStock: function() {
					return this.variants[this.selectedVariant].variantQty
				},
				sizes: function() {
					return this.variants[this.selectedVariant].variantSizes
				},
				shipping: function() {
					if(this.premium) {
						return "Free Shipping"
					}

					return 2.99
				}
				
			}
		})

		var app = new Vue({
			el: '#app',
			data: {
				premium: false,
				details: 'Lorem ipsum dolor sit amet.',
				cart: []
			},
			methods: {
				updateCart(id) {
					return this.cart.push(id)
				},
				removeItem(id) {
					if(this.cart.length !== 0)
						this.cart.pop(id)
				}
			}
		})
	</script>
</body>
</html>