<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socks</title>

	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div id="app">
		<div class="nav-bar"></div>
		<div class="cart">Cart: {{ cart.length }}</div>

		<product :premium="premium" :details="details" @add-item-to-cart="updateCart" @remove-item-from-cart="removeItem"></product>

		
	</div>

	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

	<script>
		var eventBus = new Vue();

		Vue.component('product', {
			props: {
				cart: {
					type: Number
				},
				premium: {
					type: Boolean,
					required: true
				},
				details: {
					type: String
				}
			},
			template: `
				<div class="product">
					<div class="product-image">
						<a :href="link">
							<img :src="image" alt="">
						</a>
					</div>

					<div class="product-info">
						<h1>{{ title }}</h1>	

						<p>{{ productDesc }}</p>

						<p>Product Details: {{ details.name }}</p>

						<p v-if="inStock > 10">In Stock Qty: {{ inStock }}</p>
						<p v-else-if="inStock <= 10 && inStock > 0">Almost out of stock Qty: {{ inStock }}</p>
						<p v-else :class="{ lineThrough: !inStock }">Out of Stock</p>

						<ul>
							<li v-for="(variant, index) in variants" :key="variant.variantId">
								<div v-for="size in variant.variantSizes">{{size}}</div>
							</li>
						</ul>
						
						<!-- when we look objects it's a good practice to have a key value -->
						<div v-for="(variant, index) in variants" 
							:key="variant.variantId"
							class="color-box"
							:style="{ backgroundColor: variant.color }"
							@mouseover="updateProduct(index)"
							>
						</div>
						
						<!-- When btn is disabled add a class -->
						<div class="product-actions">
							<button v-on:click="addItem"
									:disabled="!inStock"
									:class="{ disabledButton: !inStock }">Add </button>
							<button v-on:click="removeItem">Remove </button>
						</div>

						<p>User premium: {{ true }}</p>

						<p>Shipping: {{ shipping }}</p>

						<product-tabs :reviews="reviews"></product-tabs>
					</div>
				</div>
			`,
			data() {
				return {
					brand: 'Nike',
					productTitle: 'Sprint Socks',
					productDesc: 'lorem cumque.',
					// image: './green-socks.jpg',
					selectedVariant: 0,
					link: 'https://www.google.com/',
					qty: 0,
					// inStock: true,
					reviews: [],
					variants: [
						{
							color: 'green',
							variantId: 12,
							variantImg: './green-socks.jpg',
							variantQty: 12,
							variantSizes: ['XS', 'S', 'M', 'L', 'XL']
						},
						{
							color: 'blue',
							variantId: 13,
							variantImg: './blue-socks.jpg',
							variantQty: 1,
							variantSizes: ['L', 'XL']
						}
					],
					styleButton: {
						fontSize: '14px',
						backgroundColor: 'black',
						color: '#fff'
					}
				}
			},
			methods: {
				addItem: function() {
					 this.$emit('add-item-to-cart', this.variants[this.selectedVariant].variantId)
				},
				removeItem: function() {
					this.$emit('remove-item-from-cart', this.variants[this.selectedVariant].variantId)
				},
				updateProduct: function(index) {
					this.selectedVariant = index;
				}
			},
			computed: {
				title: function() {
					return this.brand + ' ' + this.productTitle
				},
				image: function() {
					return this.variants[this.selectedVariant].variantImg
				},
				inStock: function() {
					return this.variants[this.selectedVariant].variantQty
				},
				sizes: function() {
					return this.variants[this.selectedVariant].variantSizes
				},
				shipping: function() {
					if(this.premium) {
						return "Free Shipping"
					}

					return 12.99
				}
				
			},
			mounted() {
				eventBus.$on('review-submitted', productReview => {
					this.reviews.push(productReview)
				})
			}
		})

		Vue.component('product-review', {
			template: `
				<form class="review-form" @submit.prevent="onSubmit">
					<p v-if="errors.length">
						<strong>Please correct the following error(s):</strong>

						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</p>

			      <p>
			        <label for="name">Name:</label>
			        <input id="name" v-model="name" placeholder="name">
			      </p>
			      
			      <p>
			        <label for="review">Review:</label>      
			        <textarea id="review" v-model="review"></textarea>
			      </p>
			      
			      <p>
			        <label for="rating">Rating:</label>
			        <select id="rating" v-model.number="rating">
			          <option>5</option>
			          <option>4</option>
			          <option>3</option>
			          <option>2</option>
			          <option>1</option>
			        </select>
			      </p>

			      <p>Would you recommend this product?</p>

			      <input type="radio" value="Yes" v-model="answerYes"> Yes </input>
			      <input type="radio" value="No" v-model="answerNo"> No </input>
			          
			      <p>
			        <input type="submit" value="Submit">  
			      </p>    
			    
			    </form>
			`,
			data() {
				return {
					name: null,
					review: null,
					rating: null,
					answerNo: null,
					answerYes: null,
					errors: []
				}
			},
			methods: {
				onSubmit: function() {
					if(this.name && this.review && this.rating && (this.answerNo || this.answerYes)) {
						let productReview = {
							name: this.name,
							review: this.review,
							rating: this.rating,
							answerYes: this.answerYes,
							answerNo: this.answerNo
						} 

						eventBus.$emit('review-submitted', productReview)

						this.name = null
						this.review = null
						this.rating = null
						this.answerNo = null
						this.answerYes = null
						this.errors = []
					} else {
						if(!this.name && !this.errors.includes("Name is required.")) this.errors.push("Name is required.")
						if(!this.review && !this.errors.includes("Review is required.")) this.errors.push("Review is required.")
						if(!this.rating && !this.errors.includes("Rating is required.")) this.errors.push("Rating is required.")
						if(!this.answerYes && !this.answerNo && !this.errors.includes("Please let us know if you would recommend this product.")) this.errors.push("Please let us know if you would recommend this product.")
					}

				}
			}
		})

		Vue.component('product-tabs', {
			props: {
				reviews: {
					type: Array,
					required: true
				}
			},
			template: `
				<div>
					<div>
						<span class="tab"
							  @click="selectedTab = tab"
							  :class="{activeTab: selectedTab === tab }"
							  v-for="(tab, index) in tabs"
							  :key="index"
						>
						{{ tab }}
						</span>
					</div>

					<div v-show="selectedTab === 'Reviews'">
						<p v-if="!reviews.length">There are no reviews yet.</p>

						<ul v-else>
							<li v-for="review in reviews">
								<p>Name:  {{ review.name }}</p>
								<p>Review: {{ review.review }}</p>
								<p>Rating: {{ review.rating }}</p>
								<p>Recommend: {{ review.answerNo }} {{  review.answerYes }}</p>
							</li>
						</ul>
					</div>
					
					<div v-show="selectedTab === 'Make a review'">
						<product-review ></product-review>
					</div>
				</div>
			`,
			data() {
		        return {
		          tabs: ["Reviews", "Make a review"],
		          selectedTab: 'Reviews'    
		        }
		      }
		})

		var app = new Vue({
			el: '#app',
			data: {
				premium: false,
				details: 'Lorem ipsum dolor sit amet.',
				cart: []
			},
			methods: {
				updateCart(id) {
					return this.cart.push(id)
				},
				removeItem(id) {
					if(this.cart.length !== 0)
						this.cart.pop(id)
				}
			}
		})
	</script>
</body>
</html>